<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>

    <div>
        <a mat-button [routerLink]="'/'"> Home </a>
        <a mat-button [routerLink]="'/tasks'"> Tasks</a>
        <a mat-button [routerLink]="'/contacts'"> About </a>
    </div>
    <span class="menu-spacer"></span>
    <div>
        <a mat-button [routerLink]="'/register'"> Register </a>
        
        <a *ngIf="userLogged; else elseBlock" mat-button (click)="logOut()"> Logout</a>
        <ng-template #elseBlock>
            <a mat-button [routerLink]="'/login'"> Login</a>
        </ng-template>

    </div>
</mat-toolbar>